@media (300px <= width <= 1000px){
    body{
        background-color: aquamarine !important;
    }

    .imgView, .textArea {
        width: 25rem;
    }

    .arrowImg{
        display: none;
    }
}
