@media (300px <= width <= 1000px){
    body{
        background-color: aquamarine !important;
    }

    .imgView, .textArea {
        width: 20rem;
        margin: 0px 5px;
    }

    .arrowImg{
        display: none;
    }
}
